@import "assets/fonts/AvenirNextCyr/stylesheet";

@import "scss/double-input-wrapper";
@import "scss/card-group";
@import "scss/landing-block";

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}
